.content {
    color:red;
    width: 100%;
    display: flex;
    justify-content: center;
}
.content_body {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    width: 100%;
    border: 1px solid red;
    margin: 40px 90px 0px ;
}
.content_head {
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    align-items: center;
}
.content_filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}